<div class="row">
  <div class="col s12">

    <div class="container">

      <div class='row'>

        <div class='col s12'>
        </div>
      </div>
      <div class="col s3">
        <h4><%= @profile.nickname %></h4>
        <div class="card">
          <div class="card-image">
            <div class="profile-image-wrapper">
              <%= has_profile_picture(@profile_picture) %>
            </div>
            <div class="card-content">
              <center><h5>Personal Information</h5></center>
              <table class="no-spacing"cellspacing="0">
                <tr>
                  <td>Firsname:</td>
                  <td><%=@profile.firstname %></td>
                </tr>
                <tr>
                  <td>Lastname:</td>
                  <td><%= @profile.lastname %></td>
                </tr>
                <tr>
                  <td>Age:</td>
                  <td><%= @profile.age %></td>
                </tr>
                <tr>
                  <td>Gender:</td>
                  <td><%= @profile.gender %></td>
                </tr>
                <tr>
                  <td>Height:</td>
                  <td><%= @profile.height %></td>
                </tr>
                <tr>
                  <td>Weight:</td>
                  <td><%= @profile.weight %></td>
                </tr>
                <tr>
                  <td>Hair color:</td>
                  <td><%= @profile.hair_color %></td>
                </tr>
                <tr>
                  <td>Eye color:</td>
                  <td><%= @profile.eye_color %></td>
                </tr>
                <tr>
                  <td>Ethnicity:</td>
                  <td><%= @profile.ethnic %></td>
                </tr>

              </table>
              <center><h5>Other Information</h5></center>
              <table class="no-spacing">
                <tr>
                  <td>Education:</td>
                  <td><%=@profile.education %></td>
                </tr>
                <tr>
                  <td>Occupation:</td>
                  <td><%=@profile.profession %></td>
                </tr>
                <tr>
                  <td>Religion:</td>
                  <td><%=@profile.religion %></td>
                </tr>
                <tr>
                  <td>Smoking:</td>
                  <td><%= @profile.smoking %></td>
                </tr>
                <tr>
                  <td>Drinking:</td>
                  <td><%= @profile.drinking %></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="col s9">
        <div class="row">
          <div class="col s12">
            <h4>Recent Conversations</h4>
            <%= render @conversations.limit(2) %>
            <center><a href="<%=conversations_path %>" class="btn waves-effect waves-light">More</a></center>
          </div>
        </div>
        <!-- Make a list for all likes -->
        <div class="row">
          <div class="col s12">

            <ul class="tabs">
              <li class="tab col s4"><a href="#likesMe">Likes Me</a></li>
              <li class="tab col s4"><a href="#mutualLike">Mutual like</a></li>
              <li class="tab col s4"><a href="#whoILike">Who i like</a></li>
            </ul>
            <!-- Here is a list of all people that likes the profile (max 5) -->
            <div id="likesMe">
              <ul class="collection">
                <% @user_likes[0..4].each do |voter| %>
                  <li class="collection-item avatar">
                    <%= get_thumbnail(voter)%>
                    <span class="title"><%= voter.profile.nickname %></span>
                    <p><%= voter.profile.age %></p>
                  </li>

                <% end %>
              </ul>
              <center><a href="<%= likes_me_path %>" class="btn waves-effect waves-light">More</a></center>
            </div>
            <!-- Here is a list of the people who lick eachother -->
            <div id="mutualLike">
              <ul class="collection">
                <% @user_mutual_likes[0..4].each do |voter| %>
                  <li class="collection-item avatar">
                    <%= get_thumbnail(voter.user)%>
                    <span class="title"><%= voter.nickname %></span>
                    <p><%= voter.age %></p>
                  </li>

                <% end %>
              </ul>
              <center><a href="<%= mutual_likes_path %>" class="btn waves-effect waves-light">More</a></center>
            </div>
            <div id="whoILike">
              <ul class="collection">
                <% @user_who_likes[0..4].each do |voter| %>
                  <li class="collection-item avatar">
                    <%= get_thumbnail(voter.user)%>
                    <span class="title"><%= voter.nickname %></span>
                    <p><%= voter.age %></p>
                  </li>

                <% end %>
              </ul>
              <center><a href="<%= i_like_path %>" class="btn waves-effect waves-light">More</a></center>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>

</div>
