
<ul id="dropdown1" class="dropdown-content">
  <% if user_signed_in? then %>
    <li><a href="<%=profile_path(current_user.profile) %>">Profile</a></li>
    <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %> </li>
  <% end %>
</ul>
<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo"> Datesite</a>
    <ul class="right">
      <% if user_signed_in? then %>
      <li><a href="<%=root_path %>"><i class="material-icons left">home</i> Home</a></li>
      <li><a href="<%=profiles_path %>"><i class="material-icons left">search</i> Search</a></li>
      <li><a href="<%=myprofile_path %>"><i class="material-icons left">account_circle</i> My Profile</a></li>
      <li><a href="<%=mygallery_path %>"><i class="material-icons left">photo</i> Mygallery</a><li>
      <li><a href="<%=conversations_path %>"><i class="material-icons left">message</i> Messages</a><li>
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Settings<i class="material-icons right">arrow_drop_down</i></a></li>

      <% else %>

        <li><a href="<%= new_user_session_path  %>" class="waves-effect waves-light btn">Login</a></li>
      <% end %>
      </ul>

  </div>
</nav>
